<center><h1>Let's play a game of rock paper scissors </h1></center>

<p>
  <center>
  <form action="/start_game" method="get">
    <button type="submit" value="submit">Start playing!</button>
  </form>
  </center>
</p>

<p>
<center>
  <img src='http://www.adweek.com/wp-content/uploads/files/android_rock_paper_scissors_ep_2016.jpg'>
</center>
</p>
