<h1> How many players? </h1>

<p>
  <center>
  <form action="/names" method="post">
  <button type="submit" value="submit">Flying solo</button>
  </center>
  </form>
</p>

<p>
  <center>
  <form action="/names" method="post">
  <button type="submit" value="submit">Two of us</button>
  </center>
  </form>
</p>
