<center><h1> How many players? </h1></center>

<p>
  <center>
  <form action="/player_name" method="get">
  <button type="submit" value="submit">Flying solo</button>
  </center>
  </form>
</p>

<p>
  <center>
  <form action="/player_name" method="get">
  <button type="submit" value="submit">Two of us</button>
  </center>
  </form>
</p>
